
<nav class="navbar">
    <ul>
        <li><a href="/dashboard">Main</a></li>
        <% if (user) { %>
            <li><a href="/animes">Anime</a></li>
            <% if (user.admin) { %>
                <li><a href="/admin">Admin</a></li>
            <% } %>
            <li><a href="/friends">AnimeViewers</a></li>
            <li><a href="/">Logout</a></li>
        <% } else { %>
            <li><a href="/login">login</a></li>
            <li><a href="/register">register</a></li>
        <% } %>
    </ul>
</nav>
