<nav>
    <ul>
        <li><a href="/">Главная</a></li>
        <% if (user) { %>
            <li><a href="/anime">Аниме</a></li>
            <li><a href="/friends">Друзья</a></li>
            <li><a href="/users/logout">Выход</a></li>
        <% } else { %>
            <li><a href="/login">Вход</a></li>
            <li><a href="/register">Регистрация</a></li>
        <% } %>
    </ul>
</nav>
