<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anime</title>
    <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h2>Hello, <%= user.username %>!</h2>
    <h2>Ur email: <%= user.email %></h2>
    <form action="/update-about" method="post">
        <h3>About u and ur favorite animes:</h3>
        <textarea name="about" rows="4" cols="50"><%= user.about %></textarea>
        <button type="submit">Save</button>
    </form>
      


</body>
</html>
