<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Friends</title>
    <link rel="stylesheet" href="/css/friends.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>Anime viewers</h1>
    <h3>There you can find anime viewers like you and text them by email</h3>
    <% if (users) { %>
        <% users.forEach(user => { %>
            <div class="user-card">
                <h2 class="username"><%= user.username %></h2>
                <p class="email">Email: <%= user.email %></p>
                <p class="about">About: <%= user.about %></p>
            </div>
        <% }) %>
      <% } else { %>
        <p>Users are not found.</p>
      <% } %>
</body>
</html>
