<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Друзья</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>Друзья</h1>
    <p>Здесь вы можете просматривать и добавлять друзей.</p>
</body>
</html>
