<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Друзья</title>
    <link rel="stylesheet" href="/css/friends.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <h1>Анимешники</h1>
    <p>Здесь вы можете найти таких же анимешников, как и вы</p>
</body>
</html>
