<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добро пожаловать в AnimeSM</title>
    <link rel="stylesheet" href="./css/style.css">
    <style>
body {
    font-family: 'Arial', sans-serif;
    background-color: #F2EDEB; 
    color: #333; 
    margin: 0;
    padding: 20px;
    line-height: 1.6;
}

h1, h2 {
    color: #AD5472; 
}

input[type=email], input[type=password], input[type=text] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #AD5472; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #922B3E;
}

@media (max-width: 768px) {
    body {
        padding: 10px;
    }

    input[type=email], input[type=password], input[type=text] {
        width: calc(100% - 20px);
    }
}

    </style>
</head>
<body>
    <h1>Добро пожаловать в AnimeSM</h1>
    <p>Социальная сеть для любителей аниме.</p>

    <div>
        <h2>Вход</h2>
        <form action="/login" method="post">
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Вход</button>
        </form>
    </div>

    <div>
        <h2>Регистрация</h2>
        <form action="/register" method="post">
            <input type="text" name="username" placeholder="Имя пользователя" required>
            <input type="email" name="email" placeholder="Email" required>
            <input type="password" name="password" placeholder="Пароль" required>
            <button type="submit">Регистрация</button>
        </form>
    </div>
</body>
</html>
