body {
    font-family: 'Arial', sans-serif;
    background-color: #fff; 
    color: #333; 
    margin: 0;
    padding: 20px; 
    text-align: center; 
}

h1 {
    color: #480607; 
    margin-bottom: 10px; 
}

p {
    color: #333;
    margin-bottom: 20px; 
}

form {
    background-color: #f8f8f8; 
    padding: 20px;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    max-width: 300px; 
    margin: 20px auto; 
    display: flex;
    flex-direction: column; 
}

input[type=email], input[type=password], input[type=text] {
    padding: 10px;
    margin-bottom: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px;
    font-size: 16px; 
}

button {
    background-color: #480607; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    border-radius: 4px; 
    cursor: pointer; 
    font-size: 16px; 
    transition: background-color 0.3s ease; 
}

button:hover {
    background-color: #7D3EC1; 
}

form h2 {
    color: #480607; 
    margin-bottom: 20px;
}

input[type=email], input[type=password], input[type=text] {
    margin-bottom: 15px; 
}


.navbar ul li a {
    color: #ffffff;
    text-decoration: none; 
    padding: 5px 10px; 
    transition: color 0.3s ease; 
}

.navbar ul li a:hover {
    color: #FFC107;
}


